.topBarContainer {
    background-color: #FF6464;
}

.topBarText {
    color: white;
    font-size: 10pt;
    padding-top: 15pt;
    padding-bottom: 15pt;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}